* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Rubik Mono One', sans-serif;
}

.block {
	width: 100%;
	height: 100vh;
	position: relative;
}

#block-1, #block-2 {
	color: yellow;
}

#block-1 {
	background-color: red;
}

#block-2 {
	background-color: green;
}

#block-3 {
	background-color: yellow;
	color: green;
}

.container {
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 50px;
}

.container>img {
	width: 100%;
}