* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Rubik Mono One', sans-serif;
	scroll-behavior: smooth;
}

.block {
	width: 100%;
	height: 100vh;
	position: relative;
}

#block-1, #block-2 {
	color: yellow;
}

#block-1 {
	background-color: red;
}

#block-2 {
	background-color: green;
}

#block-3 {
	background-color: yellow;
	color: green;
}

.container {
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 50px;
}

.container>img {
	width: 100%;
}

.fixed-btns {
	position: fixed;
	top: 10px;
	right: 10px;
}

.fixed-btns>a {
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	text-decoration: none;
	color: black;
	box-shadow: -2px 1px 2px black
}

.fixed-btns>a:hover {
	box-shadow: -2px 2px 5px black;
}

.fixed-btns>a:active {
	background-color: gray;
}